{% extends "base.twig" %}

{% block title %} Genre {% endblock %}

{% block content %}
{# 
echo <pre>
    {{dump (genre)}} #}
    
   <div id = "selection">

        <ul>
        <div class="film">
            
            <br>
            <img src = "../public/images/{{genre.photo}}" alt = "Photo du genre" width="250">
            <br>
            <div class="film2">
            {% for m in genre.films %}
            <li>{{m.Titre}}</li>
            <img src = "../public/images/{{ m.affiche }}" alt = "Photo du genre" width="250">
            <br>
            {% endfor %}
            </div>
        </div>

{% endblock %}