

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="public/style.css">  
    <link rel="stylesheet" href="../public/style.css">
    <title>Document</title>

  

</head>


<body>
    
<div class="container">
    <div class="row">
    
 
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="films">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Films
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="films">Tous les films </a></li>
              {% if session.user.role == 'admin' %}
                <li><a class="dropdown-item" href="addfilm">Ajouter un film </a></li>
              {% endif %}
            {# <!-- <li><a class="dropdown-item" href="modif_film">Modifier un film </a></li> --> #}
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Acteurs
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="acteurs">Tous les acteurs </a></li>
              {% if session.user.role == 'admin' %}
                <li><a class="dropdown-item" href="addacteur">Ajouter un acteur </a></li>
              {% endif %}
            {# <li><a class="dropdown-item" href="modifacteur">Modifier un acteur </a></li> #}
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Realisateurs
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="realisateurs">Tous les realisateurs </a></li>
            {% if session.user.role == 'admin' %}
            <li><a class="dropdown-item" href="addrealisateur">Ajouter un realisateur </a></li>
             {% endif %}
            {# <li><a class="dropdown-item" href="modifrealisateur">Modifier un realisateur </a></li> #}
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Genres de film
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="genres">Tous les genres </a></li>
            {% if session.user.role == 'admin' %}
            <li><a class="dropdown-item" href="addgenre">Ajouter un genre </a></li>
            {% endif %}
            {# <li><a class="dropdown-item" href="modifgenre">Modifier un genre </a></li> #}
          </ul>
        </li>
      </ul>
    </div>
 
    

      <span class="navbar-toggler-icon"></span>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Votre compte
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="profil">Profil</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Vos films préférés</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex mt-3" role="search" action="search" method="POST">
          <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Rechercher</button>
        </form>
      </div>
    </div>
  </div>
</nav>

</div>


<div id="title">
      <div id="ref">
        <h1>HELLO CINE</h1>  
      </div>
      <div id="ref">
        <h2>La nouvelle référence du cinéma</h2>
    </div>
</div>

    <div id="bienvenue">
    <h2> Bienvenue {{session.user.prenom}} {{session.user.nom}}

    </div>

    <div class="button_depart">

    {% block content %}

      {% if (session) %} 
      <button><a href="deconnexion">Se déconnecter</a></button>
      {% else %}
        <button><a href="connexion">Se connecter</a></button>
        <button><a href="inscription">S'inscrire</a></button>
        <button><a href="deconnexion">Se déconnecter</a></button>
      {% endif %}

    {% endblock %}

    </div>