{% extends "base.twig" %}

{% block title %} Realisateurs{% endblock %}

{% block content %}
    <div id="selection">
        {% for realisateur in realisateurs %}
            <div id="act">
                {{realisateur.FirstName}} &nbsp;
                {{realisateur.LastName}} <br/>
                <a href = "realisateur/{{realisateur.Id_realisateur}}"><img src="public/images/{{realisateur.Photo}}"  width="250" ></a><br>
            </div>
        {% endfor %}
    </div>

{% endblock %}